{
  "extends": ["react-app"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": true,
        "singleQuote": true,
        "trailingComma": "es5",
        "jsxSingleQuote": true
      }
    ],
    "@typescript-eslint/no-unused-vars": "error",
    "jsx-a11y/alt-text": "error",
    "react-hooks/exhaustive-deps": "error",
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["@mui/*/*/*", "!@mui/material/test-utils/*"]
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "pathGroups": [
          {
            "pattern": "@app/**",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "@images/**",
            "group": "external",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"],
        "newlines-between": "always-and-inside-groups"
      }
    ]
  },
  "env": {
    "mocha": true
  }
}
